{% extends 'base.html' %}

{% block htmlhead %}
{% endblock %}

{% block header %}
  {% block title %}Sign up{% endblock %}
{% endblock %}

{% block content %}
  <h2>{{ title }}</h2>

  <form action="{{ url_for('auth.profile') }}" autocomplete="off" method="POST">
    <div class="form_field">
      * Required fields.
    </div>
    <div class="form_field">
      <label for="worker_name">E-mail*:</label>
      <input type="text" name="email" value="{{ user.email }}" readonly required>
    </div>
    <div class="form_field">
      <label for="worker_name">Name*:</label>
      <input type="text" name="name" value="{{ user.name }}" required>
    </div>
    <div class="form_field">
      <label for="worker_name">Filiation/company:</label>
      <input type="text" name="company" value="{{ user.company }}">
    </div>
    <div class="form_field">
      If you do not want to change your current password, just leave the fields below empty.
    </div>
    <div class="form_field">
      <label for="worker_name">Password:</label>
      <input type="password" name="new_password1" value="">
    </div>
    <div class="form_field">
      <label for="worker_name">Password confirmation:</label>
      <input type="password" name="new_password2" value="">
    </div>
    <div class="form_buttons">
      <button type="submit">Update profile</button>
    </div>
  </form>
{% endblock %}
