{% extends 'base.html' %}

{% block header %}
  {% block title %}About{% endblock %}
{% endblock %}

{% block content %}
  <p>
    CityZones Web is a web interface for the <a href="https://github.com/jpjust/riskzones" target="_blank">RiskZones algorithm</a>
    written by Ph.D candidate <a href="http://just.pro.br/" target="_blank">João Paulo Just Peixoto</a> under supervision of
    Prof. Daniel G. Costa, Ph.D (FEUP) and Prof. Washington de Jesus Sant'Anna da Franca Rocha, Ph.D (UEFS). It also has a research intership at FEUP, with 
    supersion of Prof. Paulo Portugal, Ph.D.
  </p>
  
  <p>
    The web interface of the CityZones tool classifies zones in an AoI (Area of Interest) according to its mitigation levels, i.e, how hard is to
    mitigate an emergency after the occurence of an event in that zone. The zones are classified in three levels: 1 (green),
    2 (yellow) and 3 (red), being red the highest risk and green the lowest. It is based on the premise that the higher the risk level, the harder is to sucessful 
    perform a mitigation action in that zone (rescue, fire figthing, crisis control, etc).
  </p>
  
  <p>
    To have a full understanding of this tool and its functionalities, please read the published scientific papers at the following links:
  </p>

  <ul>
    <li>
      <a href="https://ieeexplore.ieee.org/abstract/document/9922075" target="_blank">Optimizing the deployment of multi-sensors
      emergencies detection units based on the presence of response centers in smart cities</a>
    </li>
  </ul>

  <p>This work has been conducted at FEUP/University of Porto during a Doctoral Exchange Program funded by CAPES.</p>

  <p>
    This study was financed in part by the Coordenação de Aperfeiçoamento de Pessoal de Nível Superior - Brasil (CAPES)
    - Finance Code 001.
  </p>
{% endblock %}
