{% extends 'base.html' %}

{% block header %}
  {% block title %}About{% endblock %}
{% endblock %}

{% block content %}
  <p>
    CityZones Web is a web interface for <a href="https://github.com/jpjust/riskzones" target="_blank">riskzones algorithm</a>
    written by Ph.D candidate <a href="http://just.pro.br/" target="_blank">João Paulo Just Peixoto</a> under supervision of
    Prof. Daniel G. Costa, Ph.D (FEUP/UEFS) and Prof. Washington de Jesus Sant'Anna da Franca Rocha, Ph.D (UEFS). The work at
    FEUP is being supervised by Prof. Paulo Portugal, Ph.D.
  </p>
  
  <p>
    This algorithm classifies zones in an AoI (Area of Interest) according to its mitigation levels, i.e, how hard is to
    mitigate an emergency after the occurence of an event in that zone. The zones are classified in three levels: 1 (green),
    2 (yellow) and 3 (red). The higher the level, the hardest is to start a mitigation process in that zone.
  </p>
  
  <p>
    To have a full understanding of this work, please read the papers published on it:
  </p>

  <ul>
    <li>
      <a href="https://ieeexplore.ieee.org/abstract/document/9922075" target="_blank">Optimizing the deployment of multi-sensors
      emergencies detection units based on the presence of response centers in smart cities</a>
    </li>
  </ul>

  <p>This work has been conducted at FEUP/University of Porto during a Doctoral Exchange Program funded by CAPES.</p>

  <p>
    This study was financed in part by the Coordenação de Aperfeiçoamento de Pessoal de Nível Superior - Brasil (CAPES)
    - Finance Code 001.
  </p>
{% endblock %}
